<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>POST requests posted here</h1>
    <p>Recent post requests posted here.</p>
    <p>Details <a href='https://github.com/eugenetan3' target='_blank'>here.</a></p>
  </div>
</div>
    
</div>

<div class="container" id="content">
    <div class="row">
        <p>Asynchronous page updates will appear here:</p>
        <h3>List:</h3>
        <div id="data">nothing received yet</div>
        {% for i, c in data: %}
        <script>
            $("#data").text("{{ i }} {{ c }}")
        </script>
        {% endfor %}
        <div id="log">
        </div> <!-- /#log -->
    </div>
</div>


</body>
</html>
